.loader {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.header {
  margin: 10px auto;
  h3 {
    display: inline;
    vertical-align: middle;
    padding-right: 10px;
    text-transform: capitalize;
  }
}
