@import "../globals";
@import "../mixins";

$documentation-h1-size: 3.4 * $unit;
$documentation-h2-size: 2.4 * $unit;
$documentation-h-offset: 4 * $unit;
$documentation-v-offset: ($documentation-h-offset / 2);
$documentation-code-background: rgba(0, 0, 0, .05);
$documentation-playground-button-height: 3 * $unit;
$documentation-playground-button-font-size: 1.2 * $unit;
$documentation-table-font-size: 1.4 * $unit;

.component {
  display: block;
  max-height: 100%;
  flex-grow: 1;
  padding-bottom: 4 * $unit;
  overflow-y: auto;
  font-size: $font-size-normal;
  padding-top: 10px;
  > *:not(pre) {
    margin: $documentation-v-offset $documentation-h-offset;
  }
  > h1 {
    padding-top: $documentation-v-offset;
    padding-bottom: 20px;
  }
}

.info {
  padding: 20px;
  width: 90%;
}

.input {
  width: 70%;
}

.orspacer {
  text-align: center;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .input {
    width: 100%;
  }
}
